///////////////////////////
// STYLE GUIDE
///////////////////////////


// Style guide

.page {

// TYPE BLOCKS


	.type {

		hr {
			width: 100%;
			border-top: 1px solid $light-gray;
		}
	}

	.inverted {
		@include pad-vert-x3;
		background: darken($blue, 15%);

		hr {
			width: 100%;
			border-top: 1px solid white;
		}

		* {
			color: white;
		}

		a {
			color: white;
		}
	}
}