/////////////////////////////////////////////
//  KEENER BOILERPLATE 2017
/////////////////////////////////////////////

/* Style generated via Sass - input located in /scss/app.scss */

///////////////////////////
// IMPORTS
///////////////////////////

@import 'baseline';
@import 'icons';
@import 'queries';
@import 'mixins-vars';
@import 'structure';
@import 'animations';
@import 'grid';
@import 'type';
@import 'form';
@import 'buttons-ctas';
@import 'elements';
@import 'header';
@import 'footer';

// Pages

@import 'pages/style-guide';



///////////////////////////
// BODY / STRUCTURE
///////////////////////////

* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

html, body {

}

// SINGLE PAGE STYLE

.page-header {

	h1 {
		@include full-block;
	}

}

.page-content {
	@include full-block;
	@include pad-vert;

}