/////////////////////////////
// BUTTONS / CTAs
/////////////////////////////

button[type=submit],
.btn {
	@include inline-block;
	@include m;
	font-family: $sans;
	font-size: 1rem;
	padding: rem(.5) $base;
	border: 0;
	color: white;
	background-color: $blue;
	cursor: pointer;

	&:hover {
		background-color: lighten($blue, 10%);
	}

	&:focus {
		outline: 0;
	}

	&.arrow {
		@extend .icon-arrow-right-after;
		padding: rem(.5) rem(1.2) rem(.5) $base;

		&:after {

			position: relative;
			font-size: .8em;
			left: .8em;
		}

		&:hover {

			&:after {
				left: 1.3em;
			}
		}
	}
}

.text-cta {
	@extend .icon-arrow-right-after;
	font-weight: 500;
	letter-spacing: .5px;

	&:after {
		position: relative;
		left: .7em;
	}

	&:hover {
		&:after {
			left: 1.3em;
		}
	}
}