///////////////////////////
// SHADE LAYER
///////////////////////////

.shade-layer {
	opacity: 0;
	z-index: -1;
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	background: rgba(255,255,255,.8);
}

.disabled .shade-layer {
	opacity: 1;
	z-index: 11;
}


/////////////////////////////
// MODALS
/////////////////////////////

.modal-wrap {
	@include animated;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(white, .8);
	display: block;
	width: 100%;
	z-index: -1;
	opacity: 0;
	overflow-y: scroll;

	&.open {
		@include fadeInUp;
		z-index: 20;
	}

	section {
		display: none;
		margin: 0 auto;
		padding-top: 150px;

		* {
			color: white;
		}

		&.active {
			display: block;
		}

		@include desktop-height {
			padding-top: 125px;
		}
		@include tablet {
			padding-top: 75px;
		}

		@include mobile {
			padding-top: 50px;
		}
	}

	h2 {
		overflow: hidden;
		width: 100%;
	}

	.close-modal {
		@extend .icon-close;
		float: right;
		font-size: 20px;

	}

	.close-modal + * {
		clear: both;
	}
}

/////////////////////////////
// ERRORS
/////////////////////////////

.error-box {
	background: rgba($red, .8);
	border-radius: 5px;
	box-shadow: inset 0 0 0 1px $red;
	display: none;
	padding: 30px;
	margin-bottom: 30px;

	&.open {
		height: auto;
	}

	ul {
		margin: 0;
		list-style: none;

		li {
			@extend .icon-alert !optional;
			padding-left: 30px;
			position: relative;

			&:after {
				position: absolute;
				left: 0;
				top: 9px;
			}
		}

		li:first-child {
			margin-top: 15px;
		}
	}

	h4:last-child {
		margin: 0;
	}
}

input.error {
	background-color: rgba($red, .1) !important;
	border-color: $red !important;
}














