///////////////////////////
// FOOTER
///////////////////////////

#footer {
	@include pad-vert-x3;
	background: $blue;

	.wrap {
		@extend .row;
		@include full-block;

		a {
			color: white;
		}

		ul {
			@extend .col2;
			@include no-bullet;
		}

		.icon {
			a:before {
				font-size: 30px;
			}
		}

		#menu-social {
			@include inline-list;

			li:before {
				color: white;
			}
		}

	}

	cite {
		@include full-block;
		color: white;
	}

}