///////////////////////////
// INTERACTS
///////////////////////////

.interact {
	margin-bottom: rem(.5);

	label {
		display: block;
	}
}

///////////////////////////
// INPUTS
///////////////////////////

textarea,
input[type=text],
input[type=number],
input[type=password],
input[type=email],
select {
	background: transparent;
	border-radius: 0;
	box-shadow: 0;
	border: 1px solid $gray;
	color: $dark-gray;
	display: block;
	padding: rem(.5);
	width: 100%;
	font-size: 1rem;
	font-family: $sans;

	&:hover {
		border-color: darken($gray, 10%);
	}

	&:focus {
		outline: 0;
		border-color: darken($gray, 20%);
	}
}

.required {
	color: $blue;
}

///////////////////////////
// SELECTS
///////////////////////////

select {
	-webkit-appearance: none;
	position: relative;
	background-image: url(../../img/select-caret.svg);
	background-position: center right;
	background-repeat: no-repeat;
	
	
	&:before {
		position: absolute;
		right: $base;
	}
}

///////////////////////////
// CHECKBOXES
///////////////////////////

.interact.checkbox {

	input, label {
		@include inline-block;
		cursor: pointer;
	}

	input[type=checkbox] {
		margin: rem(.3) rem(.3) rem(.3) 0;
		opacity: 0;
		position: absolute;
	}

	label {
		width: auto;
		@extend .icon-checkmark !optional;
		position: relative;
		width: auto;
		padding-left: 40px;

		&:before,
		&:after {
			position: absolute;
			top: 4px; left: 0;
			height: 20px;
			width: 20px;
		}

		&:before {
			z-index: 2;
			top: 6px; left: 4px;
			font-size: 1;
			color: $gray;
			opacity: 0;
		}
	
		&:after {
			content: ' ';
			z-index: 1;
			border: 1px solid $gray;
		}

		&:hover {
			&:before {
				opacity: 1;
			}
		}
	}

	input:checked + label {
		&:before {
			color: white;
			opacity: 1;
		}

		&:after {
			background-color: $blue;
			border-color: $blue;
		}
	}
}

///////////////////////////
// RADIOS
///////////////////////////

.interact.radio {

	input, label {
		@include inline-block;
		cursor: pointer;
	}

	input[type=radio] {
		margin: rem(.3) rem(.3) rem(.3) 0;
		opacity: 0;
		position: absolute;
	}

	label {
		width: auto;
		position: relative;
		width: auto;
		padding-left: 40px;

		&:before,
		&:after {
			position: absolute;
			top: 4px; left: 0;
			height: 20px;
			width: 20px;
			border-radius: 100px;
		}

		&:before {
			content: ' ';
			z-index: 2;
			height: 10px;
			width: 10px;
			top: 10px;
			left: 6px;
			font-size: 1;
			background-color: transparent;
			opacity: 0;
		}
	
		&:after {
			content: ' ';
			z-index: 1;
			border: 1px solid $gray;
		}

		&:hover {
			&:before {
				opacity: 1;
			}
		}
	}

	input:checked + label {
		&:before {
			background-color: white;
			opacity: 1;
		}

		&:after {
			background-color: $blue;
			border-color: $blue;
		}
	}
}

///////////////////////////
// INVERTED
///////////////////////////

.inverted {

	label {
		color: white;
	}

	[placeholder] {
		@include placeholder(white, .7, 1em);
	}

	textarea,
	input[type=text],
	input[type=number],
	input[type=password],
	input[type=email],
	select {
		background: transparent;
		border: 1px solid rgba(white, .4);
		color: white;

		&:hover {
			border-color: rgba(white, .7);
		}

		&:focus {
			border-color: rgba(white, 1);
		}
	}

	select {
		background-image: url(../../img/select-caret-white.svg);
		background-repeat: no-repeat;
		background-position: center right;
	}

	input[type=checkbox] {
		margin: rem(.3) rem(.3) rem(.3) 0;
		opacity: 0;
		position: absolute;
	}

	label {
		width: auto;
		@extend .icon-checkmark !optional;
		position: relative;
		width: auto;
		padding-left: 40px;

		&:before,
		&:after {
			position: absolute;
			top: 4px; left: 0;
			height: 20px;
			width: 20px;
		}

		&:before {
			z-index: 2;
			top: 6px; left: 4px;
			font-size: 1;
			color: white;
			opacity: 0;
		}
	
		&:after {
			content: ' ';
			z-index: 1;
			border: 1px solid white;
		}

		&:hover {
			&:before {
				opacity: 1;
			}
		}
	}

	input:checked + label {
		&:before {
			color: white;
			opacity: 1;
		}

		&:after {
			background-color: $blue;
			border-color: $blue;
		}
	}



	.interact.radio {
		label:after {
			border: 1px solid white;
		}
	}
}

///////////////////////////
// WP STYLES
///////////////////////////

div.wpcf7-response-output {
	margin: 0 0 $base;
	padding: $base / 2;
	color: white;
	font-size: 16px;
}

div.wpcf7-validation-errors {
	background-color: rgba($red, .8);
	border: none;
}

.wpcf7-form-control-wrap {
	position: relative;
	display: block;

	.wpcf7-not-valid-tip {
		position: absolute;
		font-size: 16px;
		top: 5px;
		right: 5px;
		color: rgba($red, .9);
		display: none;
	}

	input.wpcf7-not-valid {
		border-color: $red;
	}
}




