/////////////////////////////
// GRID
/////////////////////////////

// Gutter
$gutter : rem(.5);

/////////////////////////////
// ROWS
/////////////////////////////

.row {
	@include clear;
	margin-left: -$gutter;
	margin-right: -$gutter;
}

.nested-row {
	@extend .row;
}

/////////////////////////////
// COLUMN SETUP
/////////////////////////////

.push {
	float: left;
	overflow: hidden;
}

.col {
	float: left;
	padding-left: $gutter;
	padding-right: $gutter;
}

.col1-of-5,
.col1,
.col2,
.col3,
.col4,
.col5,
.col6,
.col7,
.col8,
.col9,
.col10,
.col11,
.col12,
.push1,
.push2,
.push3,
.push4,
.push5,
.push6,
.push7,
.push8,
.push9,
.push10,
.push11,
.push12,
.pull1,
.pull2,
.pull3,
.pull4,
.pull5,
.pull6,
.pull7,
.pull8,
.pull9,
.pull10,
.pull11,
.pull12 {
	@extend .col;
}

/////////////////////////////
// COLUMNS
/////////////////////////////

.col1-of-5 { width: 20%; }

.col1 { width: 8.33%; }

.col2 { width: 16.66%; }

.col3 { width: 25%; }

.col4 { width: 33.33%; }

.col5 { width: 41.66%; }

.col6 { width: 50%; }

.col7 { width: 58.33%; }

.col8 { width: 66.66%; }

.col9 { width: 75%; }

.col10 { width: 83.33%; }

.col11 { width: 91.66%; }

.col12 { width: 100%; }

/////////////////////////////
// PUSH
/////////////////////////////

.push1 { margin-left: 8.33%; }

.push2 { margin-left: 16.66%; }

.push3 { margin-left: 25%; }

.push4 { margin-left: 33.33%; }

.push5 { margin-left: 41.66%; }

.push6 { margin-left: 50%; }

.push7 { margin-left: 58.33%; }

.push8 { margin-left: 66.66%; }

.push9 { margin-left: 75%; }

.push10 { margin-left: 83.33%; }

.push11 { margin-left: 91.66%; }

.push12 { margin-left: 100%; }

/////////////////////////////
// PULL
/////////////////////////////

.pull1 { margin-right: 8.33%; }

.pull2 { margin-right: 16.66%; }

.pull3 { margin-right: 25%; }

.pull4 { margin-right: 33.33%; }

.pull5 { margin-right: 41.66%; }

.pull6 { margin-right: 50%; }

.pull7 { margin-right: 58.33%; }

.pull8 { margin-right: 66.66%; }

.pull9 { margin-right: 75%; }

.pull10 { margin-right: 83.33%; }

.pull11 { margin-right: 91.66%; }

.pull12 { margin-right: 100%; }
