///////////////////////////
// HEADER
///////////////////////////

 #header-main {

	.wrap {
		@include full-block;
		@include clear;
		padding: $base 0;

		.brand {
			float: left;

			img {
				height: 45px;
			}
		}

		nav {
			float: right;

			ul {
				@include inline-list;
				margin: 0;

				a {
					color: $blue;
					padding-left: rem(2);
				}

				li {
					position: relative;
				}

				ul {
					opacity: 0;
					visibility: hidden;
					position: absolute;
					background-color: white;
					border: 1px solid $blue;
					width: 250px;
				}

				li:hover {

					ul {
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}

		.icon-nav {
			display: none;
		}
	}

	@include mobile {

		.wrap {
			position: relative;

			nav {
				width: auto;

				ul {
					position: fixed;
					left: 100%;
				}
			}

			.icon-nav {
				display: initial;
				position: absolute;
				right: 15px;
				font-size: rem(2);
				color: $blue;
			}
		}
	}
}