/*
  Icon Font: fontcustom
*/

@font-face {
  font-family: "fontcustom";
  src: url("./fontcustom_6c6a13bffa99b0f23c635c108dd8f773.eot");
  src: url("./fontcustom_6c6a13bffa99b0f23c635c108dd8f773.eot?#iefix") format("embedded-opentype"),
       url("./fontcustom_6c6a13bffa99b0f23c635c108dd8f773.woff") format("woff"),
       url("./fontcustom_6c6a13bffa99b0f23c635c108dd8f773.ttf") format("truetype"),
       url("./fontcustom_6c6a13bffa99b0f23c635c108dd8f773.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("./fontcustom_6c6a13bffa99b0f23c635c108dd8f773.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-alert:before,
.icon-arrow-down:before,
.icon-arrow-left:before,
.icon-arrow-right:before,
.icon-arrow-up:before,
.icon-calendar:before,
.icon-caret-down:before,
.icon-caret-left:before,
.icon-caret-right:before,
.icon-caret-up:before,
.icon-checkmark:before,
.icon-clock:before,
.icon-close:before,
.icon-location:before,
.icon-logo-icon:before,
.icon-nav:before,
.icon-question:before,
.icon-quote-close:before,
.icon-quote-open:before,
.icon-search:before,
.icon-social-facebook:before,
.icon-social-googleplus:before,
.icon-social-linkedin:before,
.icon-social-twitter:before,
.icon-social-youtube:before,
.icon-stopwatch:before,
.icon-arrow-right-after:after {
  display: inline-block;
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-alert:before { content: "\f100"; }
.icon-arrow-down:before { content: "\f101"; }
.icon-arrow-left:before { content: "\f102"; }
.icon-arrow-right:before { content: "\f103"; }
.icon-arrow-up:before { content: "\f104"; }
.icon-calendar:before { content: "\f105"; }
.icon-caret-down:before { content: "\f106"; }
.icon-caret-left:before { content: "\f107"; }
.icon-caret-right:before { content: "\f108"; }
.icon-caret-up:before { content: "\f109"; }
.icon-checkmark:before { content: "\f10a"; }
.icon-clock:before { content: "\f10b"; }
.icon-close:before { content: "\f10c"; }
.icon-location:before { content: "\f10d"; }
.icon-logo-icon:before { content: "\f10e"; }
.icon-nav:before { content: "\f10f"; }
.icon-question:before { content: "\f110"; }
.icon-quote-close:before { content: "\f111"; }
.icon-quote-open:before { content: "\f112"; }
.icon-search:before { content: "\f113"; }
.icon-social-facebook:before { content: "\f114"; }
.icon-social-googleplus:before { content: "\f115"; }
.icon-social-linkedin:before { content: "\f116"; }
.icon-social-twitter:before { content: "\f117"; }
.icon-social-youtube:before { content: "\f118"; }
.icon-stopwatch:before { content: "\f119"; }
.icon-arrow-right-after:after { content: "\f103"; }