/////////////////////////////
// VARS
/////////////////////////////

// BASELINE GRID

$body           : 17px;
$base-px        : 30px;
$base           : ($base-px / $body) + rem; // This computes to 30px in rem

@function rem($multiplier) {
	@return ($base-px / $body) * $multiplier + rem;
}

body {
  line-height: $base;
}

// COLOR

$blue           : #0091ea;
$turquoise      : #0ACCAE;
$yellow         : #EAE966;
$green          : #B9CB48;
$peach          : #F59A7A;
$red            : #D26162;
$purple         : #685D6D;

// GRAYS

$light-gray     : #C0CAD8;
$gray           : #686c74;
$dark-gray      : #292D34;

// STYLE

$radius-sm      : 5px;


/////////////////////////////
// MIXINS
/////////////////////////////

@mixin inline-block {
	display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: top;
}

@mixin translate-z {
	-webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
}

@mixin clear {

	&:before, &:after {
		content: "";
		display: block;
	}

	&:after {
		clear: both;
	}
}

@mixin no-bullet {
	list-style: none;
}

@mixin inline-list {
	li {
		@include inline-block;
	}
}

@mixin trans-fade($time) {
	-webkit-transition: all $time ease-in-out;
	-moz-transition: all $time ease-in-out;
	-ms-transition: all $time ease-in-out;
	-o-transition: all $time ease-in-out;
	transition: all $time ease-in-out;
}

/////////////////////////////
// GRADIENTS
/////////////////////////////

@mixin gradient($deg, $start-color, $end-color) {
	background-color: $start-color;
	background: -moz-linear-gradient($deg, $start-color 0%, $end-color 100%);
	background: -webkit-linear-gradient($deg, $start-color 0%, $end-color 100%);
	background: linear-gradient($deg, $start-color 0%, $end-color 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$start-color}', endColorstr='#{$end-color}',GradientType=1 );
}

@mixin gradient-fade($start-color, $end-color, $time) {
	background: linear-gradient(249deg, $start-color, $end-color);
	background-size: 200% 200%;

	-webkit-animation: gradient-fade $time ease infinite;
	-moz-animation: gradient-fade $time ease infinite;
	animation: gradient-fade $time ease infinite;
}

@mixin gradient-fade-three-color($start-color, $mid-color, $end-color, $time) {
	background: linear-gradient(242deg, $start-color, $mid-color, $end-color);
	background-size: 300% 300%;

	-webkit-animation: gradient-fade $time ease infinite;
	-moz-animation: gradient-fade $time ease infinite;
	animation: gradient-fade $time ease infinite;
}

/////////////////////////////
// PLACEHOLDERS
/////////////////////////////

@mixin placeholder($color, $opacity, $size:"") {
  &::-webkit-input-placeholder {
    color: $color;
    opacity: $opacity;
    @if $size != "" {
	 font-size: $size;
    }
  }
  &:-moz-placeholder {
    color: $color;
    opacity: $opacity;
    @if $size != "" {
	 font-size: $size;
    }
  }
  &::-moz-placeholder {
    color: $color;
    opacity: $opacity;
    @if $size != "" {
	 font-size: $size;
    }
  }
  &:-ms-input-placeholder {
    color: $color;
    opacity: $opacity;
    @if $size != "" {
	 font-size: $size;
    }
  }
}

