
/////////////////////////////
// BREAKPOINTS
/////////////////////////////

$mobile-width   : 550px;
$tablet-width   : 850px;
$content-width  : 1100px;
$frame-width    : 1370px;
$mobile-height  : 400px;
$tablet-height  : 700px;
$desktop-height : 850px;


/////////////////////////////
// MEDIA QUERIES
/////////////////////////////

@mixin mobile {
	@media (max-width: #{$mobile-width}) {
		@content;
	}
}

@mixin tablet {
	@media (max-width: #{$tablet-width}) {
		@content;
	}
}

@mixin desktop {
	@media (max-width: #{$content-width}) {
		@content;
	}
}

@mixin mobile-height {
	@media (max-height: #{$mobile-height}) {
		@content;
	}
}

@mixin tablet-height {
	@media (max-height: #{$tablet-height}) {
		@content;
	}
}

@mixin desktop-height {
	@media (max-height: #{$desktop-height}) {
		@content;
	}
}

/////////////////////////////
// GRID BREAKS
/////////////////////////////

@mixin tablet-break {
	@include tablet {
		width: 100%;
		float: none;
	}
}

@mixin mobile-break {
	@include mobile {
		width: 100%;
		float: none;
	}
}