/////////////////////////////
// BLOCK STRUCTURE
/////////////////////////////

@mixin full-block {
	max-width: $frame-width;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

@mixin content-block {
	max-width: $content-width;
	margin: 0 auto;
	width: 100%;
}

/////////////////////////////
// PADDING
/////////////////////////////

@mixin pad {
	padding: $base;

	@include tablet {
		padding: rem(.5);
	}
}

@mixin pad-x2 {
	padding: rem(2);

	@include tablet {
		padding: $base;
	}
}

/////////////////////////////
// VERTICAL PADDING
/////////////////////////////

@mixin pad-vert {
	padding-top: $base;

	@include tablet-height {
		padding-top: rem(.5);
	}
}

@mixin pad-vert-x2 {
	padding-top: rem(2);
	padding-bottom: $base;

	@include tablet-height {
		padding-top: $base;
		padding-bottom: 0;
	}
}

@mixin pad-vert-x3 {
	padding-top: rem(3);
	padding-bottom: rem(2);

	@include tablet-height {
		padding-top: rem(2);
		padding-bottom: $base;
	}
}

@mixin pad-vert-x4 {
	padding-top: rem(4);
	padding-bottom: rem(3);

	@include tablet-height {
		padding-top: rem(2);
		padding-bottom: $base;
	}	
}

/////////////////////////////
// MARGIN
/////////////////////////////

@mixin m {
	margin-bottom: $base;
}

@mixin m-x2 {
	margin-bottom: rem(2);

	@include tablet-height {
		margin-bottom: $base;
	}
}

@mixin m-x3 {
	margin-bottom: rem(3);

	@include tablet-height {
		margin-bottom: rem(2);
	}
}