///////////////////////////
// FONTS
///////////////////////////

@font-face {
	font-family: 'input-mono';
	src: url('../../fonts/InputMono-Regular.eot');
	src: url('../../fonts/InputMono-Regular.eot?#iefix') format('embedded-opentype'),
		 url('../../fonts/InputMono-Regular.woff') format('woff'),
		 url('../../fonts/InputMono-Regular.ttf') format('truetype'),
		 url('../../fonts/InputMono-Regular.svg#input-mono') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'input-mono';
	src: url('../../fonts/InputMono-Italic.eot');
	src: url('../../fonts/InputMono-Italic.eot?#iefix') format('embedded-opentype'),
		 url('../../fonts/InputMono-Italic.woff') format('woff'),
		 url('../../fonts/InputMono-Italic.ttf') format('truetype'),
		 url('../../fonts/InputMono-Italic.svg#input-mono-italic') format('svg');
	font-weight: 300;
}

@font-face {
	font-family: 'merkury';
	src: url('../../fonts/Merkury-Regular.eot');
	src: url('../../fonts/Merkury-Regular.eot?#iefix') format('embedded-opentype'),
		 url('../../fonts/Merkury-Regular.woff') format('woff'),
		 url('../../fonts/Merkury-Regular.ttf') format('truetype'),
		 url('../../fonts/Merkury-Regular.svg#merkury-regular') format('svg');
	font-weight: 300;
}


@font-face {
	font-family: 'icons';
	src: url('../../fonts/icons.eot');
	src: url('../../fonts/icons.eot?#iefix') format('embedded-opentype'),
		 url('../../fonts/icons.woff') format('woff'),
		 url('../../fonts/icons.ttf') format('truetype'),
		 url('../../fonts/icons.svg#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Overrides the previous font face, but only for chrome */
@media screen and (-webkit-min-device-pixel-ratio:0) {

	@font-face {
		font-family: 'icons';
		src:  url('../../fonts/icons.svg#icons') format('svg');
	}
}

// VARIABLES

$sans           : 'input-mono', Helvetica, Arial;
$brand          : 'merkury';


/////////////////////////////
// DEFAULTS
/////////////////////////////

html {
	font-size: $body;
	line-height: $base;

	@include tablet {
		font-size: 15px;
	}

	@include mobile {
		font-size: 13px;
	}
}

body {
	font-family: $sans;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	color: $gray;
}

img {
	max-width: 100%;
	width: auto;
	vertical-align: top;
	height: auto;
}

::selection {
	background: $blue;
	color: white;
}

::-moz-selection {
	background: $blue;
	color: white;
}

h1 {
	margin: 0 0 $base 0;
	line-height: rem(2);
	font-size: rem(1.5);
	font-family: $brand;
}

h2 {
	line-height: rem(1.5);
	font-size: rem(1.2);
	margin: 0 0 $base 0;
	font-family: $brand;
}

h3 {
	font-size: $base;
	margin: 0 0 $base 0;
	line-height: $base;
	font-family: $brand;
}

h4 {
	font-size: rem(.7);
	margin: 0 0 rem(.5) 0;
	line-height: $base;
}

h5 {
	font-size: rem(.6);
	line-height: $base;
	margin: 0 0 rem(.5) 0;
	font-weight: normal;
}

a {
	cursor: pointer;
	text-decoration: none;
	color: $blue;
}

p {
	margin: 0 0 $base 0;
}

.center {
	text-align: center;

	hr, div {
		margin-left: auto !important;
		margin-right: auto !important;
	}
}

hr {
	margin: rem(2) auto;
	width: 300px;
	border:0;
	border-top: 1px solid $gray;
}

hr.small {
	margin: rem(2) 0;
	width: rem(2);
}

cite {
	display: block;
	font-style: normal;
	margin-bottom: $base;
}


/////////////////////////////
// EXTRAS
/////////////////////////////


ul {
	margin: 0 0 $base 0;
	padding: 0;
}

.small {
	font-size: rem(.3);
}
